.display-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
}

.container-body {
    margin: 20px;
    background-color: white;
    padding: 20px;
} 

.row {
    display: flex;
    justify-content: space-between;
}

.column-left {
    width: 60%;
}

.column-right {
    width: 40%;
    text-align: right;
}

.view-button {
    padding-top: 10px;
    color: rgb(229, 104, 36);
    cursor: pointer;
}

.department-text {
    margin: 0 0 35px 0;
}